body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    height: 120px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 80px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
}

#banner {
    background-image: url('zdjecia/baner.jpg');
    height: 555px;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    clear: both;
}

h1, h2 {
    margin: 135px 0 0;
}

h1::after, h2::after {
    content: "";
    height: 1px;
    width: 20%;
    background-color: black;
    margin: 80px 0 100px;
    display: block;

}

h1 {
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}

p {
    font-size: 24px;
    line-height: 46px;
}

